.download {
  margin-bottom: 250px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 71px;
    width: 100%;
    max-width: 1156px;
    position: relative;
  }
  &-firsd {
    max-width: 420px;
    padding-left: 145px;
  }
  &-heading {
    max-width: 254px;
    font-size: 36px;
    line-height: calc(47 / 36);
    padding-bottom: 66px;
  }
  &-content {
    max-width: 410px;
    font-size: 18px;
    line-height: calc(30 / 18);
    margin-bottom: 37px;
  }
}
