.sevices {
  &-header {
    max-width: 952px;
    margin: 0 auto 35px;
    text-align: center;
  }
  &-heading {
    font-size: 36px;
    line-height: calc(56 / 36);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 47%;
      width: 56px;
      height: 2px;
      background-color: black;
    }
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  &-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px;
    max-width: 1120px;
    margin: 35px 40px;
  }
  &-item {
    height: 350px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  }
  &-img {
    padding: 54px 0 23px 37px;
  }
}
