.footer {
  &-container {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item {
    margin-top: 10px;
    padding: 15px 0;
  }
  &-last {
    margin-top: -150px;
  }
  &-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
  }
  &-adress {
    margin-top: 20px;
  }
  &-sosial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 24px;
    margin-left: 10px;
  }
}
