.header {
  background-color: #070d18;
  padding-top: 20px;
  position: relative;
  padding-bottom: 300px;
  &:after {
    position: absolute;
    content: " ";
    background-color: rgba(255, 255, 255, 0.29);
    width: 1360px;
    height: 3px;
    left: -0.05px;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
